.chapterVideosContent{
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.chapterTimingContainer{
    display: flex;

}

.chapterTimingMonths{
    direction: rtl;
    margin-left: .2rem;
    text-align: center;
    font-size: 1.1rem;
    color: #777;
}

.chapterTimingIcon{
    margin-right: .5rem;
}

.chapterVideoDetailsContainer{
    display: flex;
    align-items: center;
    width: 20rem;
}

.chapterVideosContent:hover{
    background-color: rgba(148, 148, 148, 0.28);
}

.chapterVideoTitleContainer{
    display: flex;
}


.chapterVideoTitle{
    direction: rtl;
    cursor: pointer;
    color: #777;
    font-weight: 300;
    padding: 0;
}

.videoIcon{

    margin-left: 2rem;
    cursor: pointer;
}

@media (max-width: 800px) {
    .chapterTimingContainer{
        display: none;
    }

    .chapterVideoTitle{
        margin-top: .3rem;
        font-size: .8rem;
        text-align: end;
        width: 12rem;
    }

}